import { waitFor } from '@storybook/testing-library';
import { composeStories } from '@storybook/testing-react';
import { render, screen } from '@testing-library/react';
import * as stories from './{{{NAME}}}.stories';

describe('{{{NAME}}}', () => {
  const { Default } = composeStories(stories);
  it('should render', async () => {
    render(<Default />);
    await waitFor(() => expect(screen.getByText('{{{NAME}}}')).toBeDefined());
  });
});
